sudo: required
language: c
dist: trusty
before_install:
  - sudo apt-get update
addons:
  mariadb: '10.3'
  apt:
    packages:
    - cmake
    - wget
    - libmunge-dev
    - liblua5.2-dev
    - munge
    - expect
    - libhwloc-dev
    - hwloc
    - libnuma1
    - libnuma-dev
    - libpam-dev
    - gdb
    - valgrind
    - libfreeipmi-dev
    - man2html
    - libmariadbd-dev
    - freeipmi-tools
    - rrdtool
    - libjson-c-dev
    - liblz4-dev
compiler:
  - clang
  - gcc
env:
  - TEST_SET="1.*"
  - TEST_SET="2.*,3.*,4.*,5.*,6.*,7.*,8.*"
  - TEST_SET="9.*,12.*,14.*,15.*,16.*"
  - TEST_SET="17.*,18.*,19.*,20.*,21.*,22.*,23.*,24.*,25.*"
  - TEST_SET="27.*,28.*,30.*,31.*,32.*,33.*,34.*,36.*"
cache: ccache
before_script:
  - sudo mount -t tmpfs -o size=1024m tmpfs /tmp
  - wget https://github.com/lz4/lz4/archive/v1.8.0.tar.gz
#  - tar -xvzf v1.8.0.tar.gz > /dev/null && cd lz4-1.8.0 && make && sudo make install && cd .. && rm -rf  lz4-1.8.0  v1.8.0.tar.gz > /dev/null
  - export PATH=/usr/lib/ccache:$PATH
  - sudo mount -t tmpfs -o size=1024m tmpfs /tmp
script:
  - export PATH=/usr/lib/ccache:$PATH
  - ./configure --enable-multiple-slurmd --prefix=/tmp/slurm/ > /dev/null
  - make -j > /dev/null
  - make -j install > /dev/null
  - testsuite/travis/build-travis.sh
  - sudo testsuite/travis/test-reg.sh
after_script:
  - sudo umount /tmp
